* {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: black;
    color: white;

    max-width: 100vw;
    min-height: 884px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.3rem;
}

.icon-link {
    align-items: center;
}

.image-container img {
    transition: transform 0.3s ease;
  }

.image-container:hover img {
    transform: scale(1.06);
    transition: transform 0.3s ease;
}

.hover {
    cursor: pointer;
}

.hover:hover {
    color: white;
}